extends template
block content
    div
        | Hello Dear #{name}
        br
        | Welcome to our absolutely useless app
        br
        | Enjoy Your staying here
        br
        | Or not, we actually do not care
