extends template
block content
    div
        | Our absolutely useless app have a new member
        br
        | Fresh meat name is #{name}
        br
        | Pity to him, but we glad that someone joined us
