extends template
block content
    div
        | Hello Dear #{name}
        br
        | You finally decided to delete account. Congratulations!
        br
        | Are you happy? Because we are - our database have few less useless entries!
        br
        | We hope that you will never return to us.
