extends template
block content
    div
        | Hello Dear #{name}
        br
        | Welcome to our absolutely useless app
        br
        | Enjoy Your staying here
        br
        | If you want to activate account, follow this link
        - let actUrl = 'http://localhost:5042/special/activateAccount?activation_token='
        a(href=actUrl + token) Activation
