extends template
block content
    div
        | Hello Dear #{name}
        br
        | Your account was successfully activated
        br
        | Feel free to use our useless app
        br
        | Or do not use - go and delete your account, we need more space on our server
