extends template
block content
    div
        | Hello Dear #{name}
        br
        | At #{date} someone accessed your account in our useless app
        br
        | If it was You - then we question You - why are you still here?
        br
        | If this was not You - well, good luck, we still do not implement change password function
